//主题颜色
$deep-blue: #0064FF;
$blue:#009DFF;
$light-blue:#D8E8FC;

//状态
$success:#67c23a;
$warning:#e6a23c;
$danger:#f56c6c;

//文本颜色
  //主要文字
$main-text:#454545;
  //标题
$title-text:#7E889A;
  //辅助性文字
$assistant-text:#999;
  //弹窗提示文字
$modal-prompt:#000;

//线条颜色
$border-color:#D9E2E9;
//分割线
$split-color:#F4F4F4;

$button-color:#8A96A0;


//背景颜色
$background:#F3F6FA;


$red:#F44336;
